---
title: Anthem Engineering | Software & System Solutions
category: pages
---

{% include header.html %}

<body>
  <div class="container-fluid">
      <section id="home">
        <div class="home-bg stripe-bg"></div>
        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
          {% include navbar.html %}
          {% include home.html %}
        </div>
      </section>

      <section id="about">
        <div class="about-bg stripe-bg"></div>
        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
          {% include about.html %}
        </div>
      </section>

      <section id="contact">
        <div class="contact-bg stripe-bg"></div>
        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
          {% include footer.html %}
        </div>
      </section>
  </div>
</body>
</html>