<div class="stripe">
    <header>
        <h1 class="text-lowercase text-center font-weight-light">We deliver <span class="font-weight-bold font-italic">results</span></h1>
    </header>
    <div class="row">
        <div class="col-md-4">
           <div class="text-center">
               <i class="fa fa-comment-o fa-8x"></i>
           </div>
            <div class="bar"></div>
            <h2 class="text-uppercase">Our Story</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum arcu mi, sed sagittis erat rutrum vitae. Cras vel ipsum consectetur lorem aliquet aliquet. Vivamus ac pharetra elit. Phasellus aliquet consequat nibh et vehicula. Vestibulum porta sodales urna, sed efficitur odio suscipit ac. Aliquam vitae scelerisque ligula. Nullam rutrum dignissim semper. Nullam in blandit orci, sit amet eleifend elit. Aenean laoreet augue eget malesuada finibus.</p>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class="fa fa-lightbulb-o fa-8x"></i>
            </div>
            <div class="bar"></div>
            <h2 class="text-uppercase">Our Vision</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum arcu mi, sed sagittis erat rutrum vitae. Cras vel ipsum consectetur lorem aliquet aliquet. Vivamus ac pharetra elit. Phasellus aliquet consequat nibh et vehicula. Vestibulum porta sodales urna, sed efficitur odio suscipit ac. Aliquam vitae scelerisque ligula. Nullam rutrum dignissim semper. Nullam in blandit orci, sit amet eleifend elit. Aenean laoreet augue eget malesuada finibus.</p>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class="fa fa-share-alt fa-8x"></i>
            </div>
            <div class="bar"></div>
            <h2 class="text-uppercase">Our Tech</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum arcu mi, sed sagittis erat rutrum vitae. Cras vel ipsum consectetur lorem aliquet aliquet. Vivamus ac pharetra elit. Phasellus aliquet consequat nibh et vehicula. Vestibulum porta sodales urna, sed efficitur odio suscipit ac. Aliquam vitae scelerisque ligula. Nullam rutrum dignissim semper. Nullam in blandit orci, sit amet eleifend elit. Aenean laoreet augue eget malesuada finibus.</p>
        </div>
    </div>
</div>
