<div class="text-center align-content-center">
  <h1>
    <span class="text-thin">Say</span><span class="text-bold">Hello</span>
  </h1>
  <div id="social-icons">
    <a href="http://www.linkedin.com/company/anthem-engineering-llc" target="_blank" alt="LinkedIn" title="Anthem Engineering on LinkedIn"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/anthemengineering" target="_blank" alt="GitHub" title="Anthem Engineering on GitHub"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/AnthemEng" target="_blank" alt="Twitter" title="Anthem Engineering on Twitter"><i class="fa fa-twitter"></i></a>
  </div>
  <div>
    <a href="mailto:info@anthemengineering.com" target="_blank" alt="Email" title="Email Anthem Engineering">info@anthemengineering.com</a>
    <a href="mailto:info@anthemengineering.com" target="_blank" alt="Email" title="Email Anthem Engineering">info@anthemengineering.com</a>
    <a href="mailto:info@anthemengineering.com" target="_blank" alt="Email" title="Email Anthem Engineering">info@anthemengineering.com</a>
  </div>
  <div>
    <img src="{{'/assets/images/anthemLogo.svg' | prepend: site.url}}" width="250" height="180">
    <p>©2016 Anthem Engineering LLC,  All Rights Reserved</p>
  </div>
</div>

<!-- SCRIPTS -->
<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.url}}"></script>
<script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.url}}"></script>
<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.url}}"></script>
<!-- SCRIPTS -->


