  <section id="contactus" class="footer">
  <a name="contact"></a>
  <div class="content bg-drkBlue">
  <div class="grid">
    <div class="row white">
      <div class="c9 centered">
        <div id="contact"><h1 class="white">
          <span class="w300">SAY</span> HELLO</h1>
        </div>
        <div id="social-icons">
          <a href="mailto:info@anthemengineering.com" target="_blank" alt="Email" title="Email Anthem Engineering"><img src="{{site.url}}/assets/images/email.svg" alt="Email Us" style="width:29px; height:20px"></a>
          <a href="http://www.linkedin.com/company/anthem-engineering-llc" target="_blank" alt="LinkedIn" title="Anthem Engineering on LinkedIn"><img src="{{site.url}}/assets/images/linkedin.svg" alt="LinkedIn" style="width:21px; height:20px"></a>
          <a href="https://github.com/anthemengineering" target="_blank" alt="GitHub" title="Anthem Engineering on GitHub"><img src="{{site.url}}/assets/images/github.svg" alt="Email" style="width:12px; height:20px"></a>
          <a href="https://twitter.com/AnthemEng" target="_blank" alt="Twitter" title="Anthem Engineering on Twitter"><img src="{{site.url}}/assets/images/twitter.svg" alt="Twitter" style="width:25px; height:20px"></a>
        </div>
        <!--<div class="to-top">
          <h1><a href="#top" class="white">BACK TO <span class="w300">TOP</span> ➚</h1></a>
        </div>-->
        <div style="clear:both;float:left;margin:50px 0 0">
          <p>©2016 Anthem Engineering LLC,  All Rights Reserved<br />
          Elkridge, MD 21075
          </p>
        </div>
      </div>
    </div>
  </div><!-- content -->
  </div><!-- grid -->
  </section>

  <!-- SCRIPTS -->
  <script src="{{site.url}}/assets/js/jquery.min.js"></script>
  <script src="{{site.url}}/assets/js/wow.min.js"></script>

  <script>
    new WOW().init();
  </script>

  <script>
      var navigation = responsiveNav(".nav-collapse", {
        animate: true,                    // Boolean: Use CSS3 transitions, true or false
        transition: 284,                  // Integer: Speed of the transition, in milliseconds
        label: "Menu",                    // String: Label for the navigation toggle
        insert: "after",                  // String: Insert the toggle before or after the navigation
        customToggle: "new-toggle",                 // Selector: Specify the ID of a custom toggle
        closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
        openPos: "relative",              // String: Position of the opened nav, relative or static
        navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
        navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
        jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
        init: function(){},               // Function: Init callback
        open: function(){},               // Function: Open callback
        close: function(){}               // Function: Close callback
      });
  </script>
  <!-- SCRIPTS -->


  </body>
</html>
