<!DOCTYPE HTML>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="icon" type="image/png" href="{{site.url}}/assets/images/favicon.png">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{site.description}}" />

	<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/ivory.css" media="all">
	<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/styles.css" media="all">
	<link rel="stylesheet" href="{{site.url}}/assets/css/animate.min.css">
	<link rel="stylesheet" href="{{site.url}}/assets/css/responsive-nav.css">

	<script type="text/javascript" src="//use.typekit.net/abw0vad.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script src="{{site.url}}/assets/js/fastclick.js"></script>
	<script type="application/javascript">window.addEventListener('load', function() {new FastClick(document.body);}, false);</script>
	<script src="{{site.url}}/assets/js/responsive-nav.min.js"></script>
	
</head>