<!-- NAV -->
<a name="top"></a>
<section id="nav">
  <div class="content">
    <div class="grid">
      <div class="row" >
        <div class="c11 centered">
          <div id="nav-logo">
            <a id="logo" href="{{site.url}}/" title="Anthem Engineering"></a>
          </div>
          <div id="new-toggle"><a href="#">MENU</a></div>
          <div class="long-nav">
            <a href="{{site.url}}/#about">WHO WE ARE</a>
            <a href="{{site.url}}/jobs/">WORKING WITH US</a>
            <a href="{{site.url}}/#work">JOIN THE TEAM</a>
            <a href="#contact">CONTACT US</a>
          </div>
        </div>
      </div>
    </div> <!-- grid -->
  </div> <!-- content -->
</section>
<!-- END NAV -->
