@charset "UTF-8";

/* Taken from styles.css */

html,body {height:100%;
    font-family:  "proxima-nova", "Helvetica", Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height: 24px}

p, ul, ul li, #header, .location, #board_title, .opening {color:#FFF}

a{color: #FFF; transition: color .25s; -moz-transition: color .25s; -webkit-transition: color .25s; text-decoration: underline}
a:hover{color: #161829}

#application a { color: black }
#application p { color: black }
#application ul li { color: black }
