@charset "UTF-8";

/* ---- COLORS ---- */
.white {color: #FFF}                            /* White */
.drkBlue {color: #161829}                       /* Dark Blue */
.drkSeafoam {color: #5D8C81}                    /* Dark Seafoam */
.sage {color: #7E9E7B}                          /* Sage */
.cream {color: #E0EDC2}                         /* Cream */
.green {color: #2A9E6A}                         /* Green */

.bg-white {background: #FFF !important}         /* White */
.bg-drkBlue {background: #161829}               /* Dark Blue */
.bg-nav { background: rgba(22, 25, 42, 0.6) !important}        /* Dark Blue */
.bg-drkSeafoam {background: #5D8C81}            /* Dark Seafoam */
.bg-sage {background: #7E9E7B}                  /* Sage */
.bg-cream {background: #E0EDC2}                 /* Cream */
.bg-green {background: #2A9E6A}                 /* Green */

/* ---- FONT WEIGHTS --- */
.w100 {font-weight: 100}                        /* Thin */
.w300 {font-weight: 300}                        /* Light*/
.w400 {font-weight: 400}                        /* Regular */
.w700 {font-weight: 700}                        /* Bold */

/* ---- FONTS --- */
.proxima-nova {font-family:  "proxima-nova", "Helvetica", Helvetica, Arial, sans-serif; font-size:14px; line-height: 24px}

/* ---- BACKGROUNDS --- */
.light-square {background: url(../images/light-4x4.svg); background-size: 2px 2px}
.dark-square {background: url(../images/dark-4x4.svg); background-size: 2px 2px; background-color: #161829}
.triangle {background: url(../images/triangle.svg) no-repeat,  url(../images/light-4x4.svg) repeat; background-size: cover, 2px 2px !important}

/* ---- MARGIN MODS -----*/
.p10 {padding: 10px 0}
.m50 {margin-bottom: 50px}

html,body{height:100%}

header { background: url(../images/anthemLogo.svg) no-repeat center top, #161829; background-size: 65.62% auto; border-top: 4px solid #2A9E6A; padding:0 0 50px !important;}
header #nav a {font-size: 14px; font-weight: 700; text-decoration: none; border-bottom: 1px solid transparent;}
header #nav a:hover {color: #E0EDC2; border-bottom: 1px solid #E0EDC2}

.header-bar .content{margin:-26px 0 !important; padding: 0 !important; position: relative;}

#nav .content {padding: 10px 0 50px !important; max-height: 35px;}
#nav #logo {margin:0; line-height:0; padding:0; height: 50px; display: block; border: none;}
#nav #logo:hover {border-bottom: none}
#nav a {color: #FFF; display:inline-block; margin:28px 5px 0;line-height: 0; padding: 0 0 8px; transition: border .25s, color .25s; -moz-transition: border .25s, color .25s; -webkit-transition: border .25s, color .25s;}
#nav-logo {display:inline-block; float:left; margin: 0 10px 0; vertical-align: top; background: url(../images/anthemLogoHeader.svg) no-repeat; background-size: 190px 38px; width:190px; height:38px}
.long-nav {float: right;}

.content {padding: 50px 0}

#we-deliver h2 {margin: 50px 0 5px;}
#we-create-solutions .c6 {margin: 50px 0 5px;}
#we-create-solutions img {position: absolute;}

#we-are-flexible .c5a {min-height:590px; padding:50px 30px 30px;}
#we-hire-great-people a {color: #FFF; border-bottom: 1px solid #FFF; transition: border .25s, color .25s; -moz-transition: border .25s, color .25s; -webkit-transition: border .25s, color .25s; }
#we-hire-great-people a:hover {color: #161829; border-bottom: 1px solid #161829}
#we-hire-great-people .c5a {min-height:940px; padding:50px 30px 30px;}
#we-hire-great-people .content {background:#2A9E6A;}

.wrapper{background: url(../images/triangleCream.svg) no-repeat, #5D8C81; background-size: cover; min-height: 100%; height: auto !important; padding:0 0 294px;}
.wrapper-jobs{background: url(../images/triangleCream.svg) no-repeat 50% 50% fixed, #5D8C81; background-size: cover;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;}

#jobs {background: transparent; padding: 0 !important}
#jobs a, #job-post a{color: #FFF; border-bottom: 1px solid #FFF}
#jobs a:hover, #job-post a:hover{color: #161829; border-bottom: 1px solid #161829}

#jobs-intro a{color: #FFF; border-bottom: 1px solid #FFF}
#jobs-intro a:hover{color: #161829; border-bottom: 1px solid #161829}

.job-post a{color: #FFF; border-bottom: 1px solid #FFF}
.job-post a:hover{color: #161829; border-bottom: 1px solid #161829}

.job-post {background: url(../images/anthemLogoGreen.svg) no-repeat, #5D8C81; background-size: auto 110%; background-position: 0 0; padding: 0 0 294px !important}
.job-post .c5a {min-height:940px; padding:50px 30px 30px;}

.job-post-title {padding: 0 0 20px}
.job-post-title h3{padding: 0 0 10px}
.job-post-title a{font-size: 15px;}
.footer{margin: -294px 0 0}
.footer .content{padding: 100px 0 50px 0; background:url("../images/anthemLogo.svg") no-repeat scroll 200% 60%, #161829; background-size: 80% auto }
.footer #contact {float:left}
.footer #social-icons {float:left;margin: 5px 0 0 10px}
.footer a:hover {opacity: .5}
.footer a{border:none; transition: opacity .25s; -moz-transition: opacity .25s; -webkit-transition: opacity .25s;}
.footer a {vertical-align: middle;}
.footer a img {margin:0 10px;}
.footer h1 {display: inline; margin: 0 25px 0 0; vertical-align: middle}
.footer .to-top {padding:15px 0 0; float:left; clear:both;}
.footer .to-top a{font-size: 16px !important; }
.footer .to-top a:hover {color:#E0EDC2; opacity: 1; }


li {background: url(../images/dash.svg) no-repeat 0 11px; list-style-type: none; padding-left: 10px}

a {transition: border .25s, color .25s; -moz-transition: border .25s, color .25s; -webkit-transition: border .25s, color .25s; }

nav a{color:#FFF; border-bottom: 1px solid transparent}
nav li{background: none;}
nav {height: 0}

.back-to-top{left:0; right:0; margin:0 auto; position:absolute;}

/*RESPONSIVE NAV*/
#new-toggle {display: none; font-family: "proxima-nova", "Helvetica", Helvetica, Arial, sans-serif;}
#new-toggle a{font-size: 30px !important; float:left;}
#new-toggle a:hover{border-bottom: 1px solid transparent !important}

#new-toggle:after {
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-size: 37px;
  float:right;
  text-transform: none;
  position: relative;
  content: "≡";
  text-indent: 0;
  text-align: center;
  speak: none;
  width: 20px;
  top: 10px;
  left: 0;
  z-index: 9998;
}

#new-toggle.active::after {
  color: #E0EDC2;
  font-size: 43px;
  content:"x";
  top:3px;
}

.nav-collapse a{font-size: 20px;}
.nav-collapse li{border-bottom: 1px solid #E0EDC2; padding:15px 0 ;text-align: center}
.nav-collapse .no-border{border-bottom: none; padding:15px 0 ;text-align: center}


