---
---

@import "variables";
@import "bootstrap/scss/bootstrap";
@import "font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

$home-bg: '../images/unlicensed/network.jpg';
$home-height: 720px;

body, html {
  height: 100%;
  color: $gray-200;
}

.stripe-bg{

}

.stripe h1, .stripe .h1{
  font-size: 6rem;
}
.stripe{
  padding-top: 25px;
}


/* ----- Home Strip ----- */

.home-bg{
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: .9;
  height: $home-height;
  background-image: url($home-bg);
}
#home nav a{
  font-size: 1.1rem;
}
/* ----- End Home Strip ----- */


/* ----- About Strip ----- */

.about-bg{
  background-color: $gray-900;
  position: absolute;
  top: $home-height;
  left: 0px;
  width: 100%;
  height: 687px;
}
#about .fa-8x{
  margin:40px 0;
  font-size: 8rem;
}
#about .bar{
  background-color: $orange;
  height: 5px;
  width:100%;
  margin:15px 0;
}
/* ----- End About Strip ----- */