---
title: Anthem Engineering | Software & System Solutions
category: pages
---

{% include header.html %}

<body>
  <div class="wrapper wrapper-jobs">
    {% include responsive-nav.html %}

    <!-- HEADER -->
    <header id="jobs">
      {% include standard-nav.html %}
    </header>

    <section id="jobs-intro" >
      <div class="content">
      <div class="grid">
        <div class="row white" >
          <div class="c12 m50">
            <h1 class="text-center white">WORK <span class="w300">WITH US</span></h1>
          </div>
          <div class="c7a centered">
            <p>We're always looking for knowledgeable, talented, and dedicated engineers. Find out more about our open positions.</p>
            <p>Top 5 Reasons to Work at Anthem Engineering:
            <ul>
                <li>We realize that we all spend a considerable amount of time at work so it had better be fun!</li>
                <li>Do work you feel good about. Our mission is to save lives and taxpayer dollars. We work to enable the mission and create reusable capabilities that can be leveraged across a diverse customer set.</li>
                <li>We're always learning new technologies, frameworks, and tools so we can use the right ones for the emerging problems.</li>
                <li>You're not just another cog in a machine. We're invested in your growth as an individual, technical and otherwise. Everyone has a voice and is valued.</li>
                <li>Small companies are important to us. We enjoy the closeness, directness, and efficiency of working in a small company environment.</li>
            </ul></p>
            <p>In addition we offer an AMAZING benefit package including:
            <ul>
                <li>Company paid health, dental, and vision insurance for you AND your family!</li>
                <li>Company contributes 100% of health insurance deductible to HSA</li>
                <li>Flexible and generous PTO offerings</li>
                <li>Paid parental leave</li>
                <li>Flexible schedules and work locations (customer dependent)</li>
                <li>401k matching</li>
                <li>Short term and Long term disability</li>
                <li>Tuition reimbursement</li>
                <li>Training budget</li>
                <li>Team get togethers/lunches/celebrations throughout the year</li>
                <li>Employee referral bonus program</li>
            </ul></p>


          <div id="grnhse_app"></div>

          <p>Anthem Engineering is an Equal Opportunity Employer EOE, MFDV.</p>

          </div>
        </div>
      </div> <!-- grid -->
      </div> <!-- content -->
    </section>
  </div>
  <div class="hire-jobs"></div>
  <script id="hire-embed-loader" async defer src="https://hire.withgoogle.com/s/embed/hire-jobs.js?company=anthemengineeringcom"></script>
  {% include footer.html %}

