---
title: Anthem Engineering | Software & System Solutions
category: pages
---

{% include header.html %}

<body>
  <div class="wrapper wrapper-jobs">
    <!-- RESPONSIVE NAV -->
    <nav class="nav-collapse bg-green">
        <ul>
          <li><a href="{{site.url}}/#about">WHO WE ARE</a></li>
          <li><a href="{{site.url}}/jobs/">WORKING WITH US</a></li>
          <li><a href="{{site.url}}/#work">JOIN THE TEAM</a></li>
          <li class="no-border"><a href="#contact">CONTACT US</a></li>
        </ul>
      </nav>
      <!-- END RESPONSIVE NAV -->

      <!-- HEADER -->
    <header id="jobs">
      <!-- NAV -->
      <a name="top"></a>
      <section id="nav">
        <div class="content">
        <div class="grid">
          <div class="row" >
            <div class="c11 centered">
              <div id="nav-logo">
                <a id="logo" href="{{site.url}}/" title="Anthem Engineering"></a>
              </div>
              <div id="new-toggle"><a href="#">MENU</a></div>
              <div class="long-nav">
                    <a href="{{site.url}}/#about">WHO WE ARE</a>
                <a href="{{site.url}}/jobs/">WORKING WITH US</a>
                <a href="{{site.url}}/#work">JOIN THE TEAM</a>
                <a href="#contact">CONTACT US</a>
                </div>
            </div>
          </div>
        </div> <!-- grid -->
        </div> <!-- content -->
      </section>
      <!-- END NAV -->
    </header>

    <section id="jobs-intro" >
      <div class="content">
      <div class="grid">
        <div class="row white" >
          <div class="c12 m50">
            <h1 class="text-center white">WORK <span class="w300">WITH US</span></h1>
          </div>
          <div class="c7a centered">
            <p>We're always looking for knowledgeable, talented, and dedicated engineers. Find out more about our open positions.</p>

            <p>AVAILABLE POSITIONS</p>

            <p class="job-posting">
            <a href="posts/MD-030114-software-engineer/">Software Engineer (Maryland)</a><br>
            Become part of our teams developing web applications, cloud services, and analytics using a variety of tools, including Java, Clojure, JavaScript, Ruby, and Python.
            </p>

          </div>
        </div>
      </div> <!-- grid -->
      </div> <!-- content -->
    </section>
  </div>
  {% include footer.html %}

