---
title: Anthem Engineering | Software & System Solutions
category: pages
---

{% include header.html %}

<body>
  <div class="wrapper job-post">
    <!-- RESPONSIVE NAV -->
    <nav class="nav-collapse bg-green">
        <ul>
          <li><a href="{{site.url}}/#about">WHO WE ARE</a></li>
          <li><a href="{{site.url}}/jobs/">WORKING WITH US</a></li>
          <li><a href="{{site.url}}/#work">JOIN THE TEAM</a></li>
          <li class="no-border"><a href="#contact">CONTACT US</a></li>
        </ul>
      </nav>
      <!-- END RESPONSIVE NAV -->

      <!-- HEADER -->
    <header id="jobs">
      <!-- NAV -->
      <a name="top"></a>
      <section id="nav">
        <div class="content">
        <div class="grid">
          <div class="row" >
            <div class="c11 centered">
              <div id="nav-logo">
                <a id="logo" href="{{site.url}}/" title="Anthem Engineering"></a>
              </div>
              <div id="new-toggle"><a href="#">MENU</a></div>
              <div class="long-nav">
                    <a href="{{site.url}}/#about">WHO WE ARE</a>
                <a href="{{site.url}}/jobs">WORKING WITH US</a>
                <a href="{{site.url}}/#work">JOIN THE TEAM</a>
                <a href="#contact">CONTACT US</a>
                </div>
            </div>
          </div>
        </div> <!-- grid -->
        </div> <!-- content -->
      </section>
      <!-- END NAV -->
    </header>

    <section id="job-details">
      <div class="content">
      <div class="grid">
        <div class="row white" >
          <div class="c12 m50">
            <h1 class="text-center white">WORK <span class="w300">WITH US</span></h1>
          </div>

          <!-- JOB POSTING INTRO -->
          <div class="c7a centered">
            <div class="job-post-title">
              <h3 class="white">Software Engineer (Maryland)<br></h3>
              <a href="mailto:talent@anthemengineering.com">APPLY TO THIS POSITION</a>
            </div>
            <p>
              Have you been working hard to improve your skills with a programming language like Java, JavaScript, or Ruby? Are you trying to learn new programming languages like Clojure or Haskell? Have you experimented with tools like Hive, Pig, or Storm? Do you enjoy working in teams with smart people who give you honest feedback and are vested in your growth?</p><br>
            <p>
              If you answered yes to any of these questions and have a history of making an impact on projects — large or small — then we want to talk to you! Anthem Engineering is looking for software engineers who are collaborative, self-motivated, and highly skilled to join our teams. We work on projects that make our customers' lives easier through technology. We work in small teams to deliver capabilities iteratively and agilely. We're always learning and always trying to make a difference.
            </p>
            <p>
              Join our team helping build Biosurveillance software that helps the government and military respond to and collaborate on pandemic events. You would help build web services, data analytics, and the Web 2.0 front-end.
            </p>
          </div>
          <!-- END JOB POSTING INTRO -->

        </div>
      </div> <!-- grid -->
      </div> <!-- content -->

      <!-- TWO COLUMNS -->
      <div class="content" style="padding:0">
      <div class="grid">
        <div class="row white">
          <div class="c10a centered">

            <!-- COLUMN 1 JOB POSTING INFO -->
            <div class="c5a left wow fadeInLeft bg-green" data-wow-offset="50">
              <p><span class="w700 white">ADDITIONAL DESIRED TRAITS</span></p>
              <p><span class="w700 white">Education:</span> bachelor's or master's degree in computer science or related field</p><br>

              <p><span class="w700 white">Experience:</span> experience developing Java and JVM-based applications for the Federal Government</p><br>

              <p><span class="w700 white">Skills:</span><br>
              <span class="w700 white">Languages:</span> Java, JavaScript</p>
              <p><span class="w700 white">Frameworks:</span> JPA/Hibernate, Guava, JAX-RS, Node.js, Angular.js, jQuery, Bootstrap</p>
              <p><span class="w700 white">Databases:</span> Postgres, Accumulo, MongoDB, Solr, Elasticsearch</p>
              <p><span class="w700 white">Collaboration and Organization:</span> Git, GitLab, GitHub, Google Apps, IntelliJ, Eclipse, vim, Emacs, JIRA</p>
              <br>

              <p><span class="w700 white">Benefits</span><br>
                <ul class="white">
                  <li>Competitive salaries</li>
                  <li>19 days paid time off + 10 holidays</li>
                  <li>Comprehensive health insurance plan</li>
                  <li>Yearly training budget to support a plan that you develop</li>
                  <li>Flexible work schedules</li>
                  <li>401(k) retirement plan with company paid contribution + profit sharing</li>
                </ul>
              </p>
            </div>
            <!-- END COLUMN 1 JOB POSTING INFO -->

            <!-- COLUMN 2 JOB POSTING INFO -->
            <div class="c5a right wow fadeInRight bg-drkBlue" data-wow-offset="50">
              <p><span class="w700 white">Top 5 Reasons to Work at Anthem Engineering</span></p><br>

              <p>We realize that we all spend a considerable amount of time at work so it had better be fun!</p><br>

              <p>Do work you feel good about. Our mission is to save lives and taxpayer dollars. We work to enable the mission and create reusable capabilities that can be leveraged across a diverse customer set.</p><br>

              <p>We're always learning new technologies, frameworks, and tools so we can use the right ones for the emerging problems.</p><br>

              <p>You're not just another cog in a machine. We're invested in your growth as an individual, technical and otherwise. Everyone has a voice and is valued.</p><br>

              <p>Small companies are important to us. We enjoy the closeness, directness, and efficiency of working in a small company environment. It’s a family!</p><br>
            </div>
            <!-- END COLUMN 2 JOB POSTING INFO -->

          </div>
        </div>
      </div> <!-- grid -->
      </div> <!-- content -->
      <!-- END TWO COLUMNS -->

      <!-- APPLY -->
      <div class="content">
      <div class="grid">
        <div class="row white" >
          <div class="c7a centered">
            <p><a href="mailto:talent@anthemengineering.com">APPLY TO THIS POSITION</a></p>
            <p style="font-style:italic">Anthem Engineering is an Equal Opportunity Employer EOE, MFDV.</p>
          </div>
        </div>
      </div> <!-- grid -->
      </div> <!-- content -->

    </section>
  </div>

  {% include footer.html %}
